.info {
  padding-top: 29px;
  padding-left: 15px;
  padding-bottom: 35px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.item {
  display: flex;
  align-items: baseline;
}

.titleBold {
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  margin-right: 6px;
}

.title {
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
  .info {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-left: 5px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .titleBold {
    font-size: 14px;
  }

  .title {
    font-size: 14px;
  }
}
