.section {
  border-left: 1px solid #000;
}

.inn {
  font-size: 44px;
  border-bottom: 1px solid black;
  padding: 25px 0 40px 0;
  text-align: center;
  margin-bottom: -1px;
}

.mid {
  display: grid;
  grid-template-columns: 383px 1fr;
}

@media screen and (max-width: 1200px) {
  .mid {
    grid-template-columns: 1fr 310px;
  }

  .section {
    border-left: none;
  }

  .inn {
    font-size: 32px;
    padding: 15px 0 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .inn {
    font-size: 20px;
    padding: 10px 0 10px 0;
  }

  .mid {
    grid-template-columns: 1fr 160px;
  }
}

@media screen and (max-width: 425px) {
  .inn {
    font-size: 18px;
    padding: 6px 0 6px 0;
  }
}
