.container {
  height: 119px;
  display: grid;
  grid-template-columns: 383px 1fr;
}

.logo {
  width: 80px;
  height: 80px;
}

.containerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

.title {
  font-size: 52px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    height: 35px;
    grid-template-columns: 188px 1fr;
  }

  .title {
    font-size: 16px;
    margin-bottom: 0;
  }

  .logo {
    width: 28px;
    height: 28px;
  }
}
