.header {
  display: grid;
  grid-template-rows: 165px 1fr;
}

.list {
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item:nth-child(2),
.column:nth-child(2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.title {
  font-size: 20px;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 8px 0;
}

.number {
  font-size: 32px;
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  border-bottom: 1px solid black;
}

.bottomText:nth-child(2) {
  border-left: 1px solid black;
}

.bottomText {
  font-size: 20px;
  padding: 6px;
  padding-left: 5px;
}

.pseudoSpan::after {
  content: 'Масштаб';
}

@media screen and (max-width: 768px) {
  .bottomText {
    font-size: 16px;
  }

  .title {
    font-size: 16px;
  }

  .number {
    font-size: 20px;
  }
}

@media screen and (max-width: 615px) {
  .pseudoSpan::after {
    content: 'М-таб';
  }
}

@media screen and (max-width: 570px) {
  .header {
    grid-template-rows: 120px 1fr;
  }
}

@media screen and (max-width: 470px) {
  .header {
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 450px) {
  .header {
    grid-template-rows: 140px 1fr;
  }

  .title {
    font-size: 13px;
  }

  .bottomText {
    font-size: 13px;
  }
}
